html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;

  white-space: nowrap;

  color: #e2e6ec;
  background: url(./lightning.jpg);
  background-size: cover;
}

.wrapper {
  font-family: "Lucida Sans";
  font-size: 20px;
  max-width: 1100px;
  padding-top: 20px;
  margin: 0 auto;
}

.input {
  font-size: 25px;
}
